body {
  font-family: "Inter Tight", Inter, Arial, Helvetica, sans-serif;
  /* background-color: skyblue; */
  background-image: url(./background2.jpg);
  background-size: 100% auto;
  color: #161f27;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  height: 100vh;
}

.container {
  margin: 50px;
  width: 50%;
  padding: 20px;
  padding-top: 15px;
  transition: 0.5s;
}

/* Responsive adjustments */
@media (max-width: 1000px) {
  body {
    background-size: auto 100vh;
    background-repeat: no-repeat;
  }
  .container {
    width: 75%; /* Increase width for smaller screens */
    transition: 0.5s;
  }
}

h1 {
  margin-left: 10px;
}

.glass {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.people {
  border-radius: 16px;
  overflow: hidden;
}

.person {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s;
}

.person:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.person > p {
  padding-left: 20px;
  font-weight: 300;
}

.person > h3 {
  font-weight: 500;
}

.header > p {
  margin-left: auto;
  font-weight: 400;
}

.header > h3 {
  font-weight: bold;
}

.header {
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  padding-right: 20px;
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #f25c54;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.available {
  background-color: #5bba6f;
}

@media (max-width: 480px) {
  body {
    font-size: smaller;
  }

  .container {
    margin: 20px;
    width: 95%; /* Full width on very small screens */
    padding: 10px 10px 10px 10px;
  }
  .person > h3 {
    padding-right: -10px;
  }
  .person > p {
    padding-left: 7px;
  }

  .person {
    padding-right: 5px;
    padding-left: 10px;
  }
}

.form-container {
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 10px;
}

.form-container > h1 {
  margin-bottom: 0px;
}

input[type="email"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: large;
  color: #161f27;
  outline: none;
  transition: 0.2s;
}

input[type="email"]:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.07);
}

input[type="email"]:focus {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.07);
}

input[type="password"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: large;
  color: #161f27;
  outline: none;
  transition: 0.2s;
}

input[type="password"]:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.07);
}

input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.07);
}

label {
  color: #777;
  margin-top: 10px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
}

.glass-button {
  display: inline-block;
  padding: 10px;
  border: 0;
  text-decoration: none;
  border-radius: 10px;
  background-color: #0093af;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.7;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: larger;
  margin-top: 20px;
  transition: 0.5s;
}

.glass-button:hover {
  opacity: 0.9;
}

.glass-button:active {
  opacity: 1;
  transition: 0s;
}

#error-message {
  color: #f25c54;
  font-size: small;
  margin-top: 10px;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.profile {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 16px;
}

.profile > h2 {
  margin: 0px;
}
